<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form {{ action "createGroup" on="submit" }}>
        {{ input name="name" value=name classNames='form-control input-lg' placeholder="Name of the group" }}
        <br>
        <h3>Invite Friends</h3>
        <div class="row">
            <div class="col-md-12">
              {{#each group in content.friends }}
              <div class="col-md-2 col-sm-3 col-xs-6 group">
               {{#view 'friend-select' friendBinding="this"}}
         {{!--        {{ name }} --}}
                <img src="/assets/images/default-user-picture.svg" class="group-logo img-circle">
                {{ name }}
              {{/view}}
              </div>
              {{ else }}
                <p>You have no groups dude :(</p>
                <p>Create one!</p>
              {{/each}}
            </div>
          </div>
        {{!-- <ul class="ul-inline-block">
          {{#each content.friends}}
            {{#view 'friend-select' friendBinding="this"}}
              {{ name }}
              <img src="/assets/images/default-group-picture.svg" class="group-logo img-circle">
            {{/view}}
          {{/each}}
        </ul> --}}
        <br>
        <button class="btn btn-success btn-lg" type="submit">Create Group</button>
      </form>
    </div>
  </div>
</div>
