<h2 class="capitalize">{{#if name.length }} {{name}} {{else}} Untitled {{/if}}</h2>

{{!-- {{#view "bs-modal" title="Time countdown"}}
  Launch modal
{{/view}}
 --}}
<div class="row">
  <div class="col-md-12">
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      All
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Discover
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Favourites
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Members
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      {{ fa-icon "plus" }} Add
    {{/link-to}}
  </div>
</div>

<br>

<div class="row">
  {{#each restaurant in content.restaurants }}
    <div class="col-md-2 col-sm-3 col-xs-6 restaurant">
      {{#view "open-modal"}}
        <img src="/assets/images/a.svg" class="restaurant-logo img-circle">
        {{ restaurant.name }}
      {{/view}}
    </div>
  {{ else }}
    <p>You have no restaurants added :(</p>
    <p>Create one!</p>
  {{/each}}
</div>
