<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <h2>Create order</h2>
      <div classs="row ">
        <div class="col-xs-4 col-sm-4 col-md-2 group-order">
          {{#link-to '' group classNames='group-name capitalize'}}
            {{#if content.group.picture}}
              <img {{ bind-attr src=content.group.picture }} class="img-circle">
            {{ else }}
              <img src="/assets/images/default-group-picture.svg" class="img-circle">
            {{/if}}
            <p>
              {{#if content.group.name}}
                {{ content.group.name }}
              {{ else }}
                Untitled
              {{/if}}
            </p>
          {{/link-to}}
          <button class="btn btn-default btn-md">{{ fa-icon 'plus' }} Add more</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 who-order-arrow group-order">
          {{ fa-icon "long-arrow-right" classNames="" }}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 group-order">
          {{#link-to '' group classNames='restaurant-name capitalize'}}
            {{#if content.picture}}
              <img {{ bind-attr src=content.picture }} class="img-rounded">
            {{ else }}
              <img src="/assets/images/default-restaurant-picture.svg" class="img-rounded">
            {{/if}}
            <p>
              {{#if content.name}}
                {{ content.name }}
              {{ else }}
                Untitled
              {{/if}}
            </p>
          {{/link-to}}
          <button class="btn btn-default btn-md">Change</button>
        </div>
        <div class="col-md-6 hidden-xs hidden-sm">
        </div>

        <div class="col-xs-12 col-md-12">
          <br>
          <h3>Time to delivery</h3>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-lg active">
                <input type="radio" name="setTimer" id="" autocomplete="off" checked> 5
              </label>
              <label class="btn btn-default btn-lg">
                <input type="radio" name="setTimer" id="" autocomplete="off"> 10
              </label>
              <label class="btn btn-default btn-lg">
                <input type="radio" name="setTimer" id="" autocomplete="off"> 15
              </label>
            </div>
            minutes
        </div>

        <div class="col-xs-12 col-md-12">
          <br>
          <h3>Deliver to</h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-lg">Current location</button>
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a>Home</a></li>
              <li><a>Office</a></li>
              <li><a>Joe's place</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-md-12">
          <br>
          <button class="btn btn-success btn-xlg" {{ action "setOrder" }} >Start!</button>
        </div>
      </div>

    </div>
  </div>
</div>
