<div class="container">

  <div class="row">
    <div class="col-md-12">
   {{!--    {{#link-to 'group/new' classNames='btn btn-lg btn-default'}}
        {{ fa-icon "plus" }} Create group
      {{/link-to}} --}}
      {{#link-to 'group/restaurants' classNames='btn btn-lg btn-default pull-left'}}
        I'm eating alone
      {{/link-to}}
{{!--       <button class="btn btn-default btn-lg">I'm eating alone</button> --}}
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <h3>Groups</h3>
      {{#each group in content.groups }}
      <div class="col-md-2 col-sm-3 col-xs-6 group">
        {{#link-to 'group/restaurants' group classNames='group-name capitalize'}}
          {{#if group.picture }} <img {{ bind-attr src=group.picture }} class="group-logo img-circle"> {{ else }} <img src="/assets/images/default-group-picture.svg" class="group-logo img-circle"> {{/if}}
          {{#if group.name }} {{ group.name }} {{ else }} Untitled {{/if}}
        {{/link-to}}
      </div>
      {{ else }}
        <p>You have no groups dude :(</p>
        <p>Create one!</p>
      {{/each}}
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <h3>Friends</h3>
      <br>
      {{#each friend in content.friends }}
      <div class="col-md-2 col-sm-3 col-xs-6 friend">
        {{#link-to 'group/restaurants' group classNames='group-name capitalize'}}
          {{#if friend.picture }} <img {{ bind-attr src=user.picture }} class="group-logo img-circle"> {{ else }} <img src="/assets/images/default-user-picture.svg" class="group-logo img-circle"> {{/if}}
          {{#if friend.name }} {{ friend.name }} {{ else }} Untitled {{/if}}
        {{/link-to}}
        <button class="btn btn-sm select-friend">{{ fa-icon "check" }}</button>
      </div>
      {{ else }}
        <p>You have no friends :(</p>
      {{/each}}
    </div>
  </div>

</div>
