<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 section section-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-centered">
            <img src="/assets/images/logo.svg" class="logo-icon hidden-xs">
            <h1 class="logo-text hidden-xs">let's order</h1>
            <img src="/assets/images/logo.svg" class="logo-icon-sm visible-xs">
            <h1 class="logo-text-sm visible-xs">let's order</h1>
            <br>
            <h1 class="hidden-xs hidden-sm">We make ordering together easy</h1>
            <h1 class="sm-heading-landing visible-xs visible-sm">We make ordering together easy</h1>
            <br>
            <br>
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-8 col-lg-5 col-centered">
                <p class="">Be one of the first to know when our app is released. Please enter your email below.</p>
                <form {{ action "subscribeEmail" on="submit" }} class="form-inline" role="form">
                  <div class="form-group">
                    {{ input type="email" name="email" value=controller.email classNames='form-control input-primary-lg' placeholder="Email Address" required="" }}
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Sign up</button>
                </form>
                <div class="js-subscribe-success vis-hid">You have successfully subscribed to Let's Order!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 section section-accent">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="lead"><strong>Let's order</strong> is group ordering for you and your friends or colleagues, streamlining the order for the restaurant and cutting wait times for customers hungry for their delivery.</p>
            <div class="seen-in">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-centered">
            <h2>As seen in</h2>
            <div class="seen-in">
              <a href="http://blog.up.co/2014/12/18/copy-pasting-sw-dubai-2014s-winners-come-innovative-solutions-dubai-problems/" title="Startup Weekend Dubai" target="_blank">
                <img src="/assets/images/sw.svg" class="">
              </a>
              <a href="http://www.youtube.com/watch?v=ONwRydZ51cw&t=6m29s" title="Startup Weekend Dubai" target="_blank">
                <img src="/assets/images/skynewsarabia_grayscale.png" class="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <footer>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-12 text-center footer-section">
                    <p class="small">Connect with us</p>
                    <a href="http://twitter.com/letsorderme" title="Twitter" target="_blank" class="sharing">
                      {{ fa-icon "twitter" }}
                    </a>
                    <a href="http://www.facebook.com/letsorderme" title="Facebook" target="_blank" class="sharing">
                      {{ fa-icon "facebook" }}
                    </a>
                    <a href="https://plus.google.com/share?url=[http://letsorder.me]" title="Google+" target="_blank" class="sharing">
                      {{ fa-icon "google-plus" }}
                    </a>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center footer-section contact-letsorder">
                         <a class="small" href="mailto:contact@letsorder.me">contact@letsorder.me</a>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center  footer-section">
                    <p class="small">Copyright &copy; Let's Order 2014</p>
                  </div>
                </div>
            </div>
        </div>
    </footer>
  </div>
</div>
